<head>
  <title>Muddassir Hussain</title>
</head>
<style>
  body{
    background-color: antiquewhite;
    padding: 100px;
  }
  h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
<body>
  <h1>Muddassir Hussain</h1>
  <h2>Registration Number: 201800100</h2>
  <h2>Sec : C </h2>
  <h2>Roll No. : 16</h2>
  <p>
    A second year Computer Science engineering student at Sikkim Manipal Institute Of Technology with an interest in Data Science, Machine Learning and Leadership. Seeking a summer internship to apply my analytic skills to help companies discover the abundant potential lying in their data and providing them with insights to take necessary decisions. Currently, I am utilizing my lock-down time in developing my data analytic skills with the help of online learning platforms.

I read books, mostly financial and motivational in my free time. I also like to hone my music skills through various instruments and listen to Classic Rock albums(Guns n' Roses, Pink Floyd etc.).

  </p>
</body>